<html>
  <head>
      <script src="Chart.bundle.min.js"></script>
      <link href="data:image/x-icon;base64,AAABAAEAEBAAAAEAIABoBAAAFgAAACgAAAAQAAAAIAAAAAEAIAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAA/CADLP0eAZL+HgDS/h4A7v4eAO79HgGkERAPJgwMDCIAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAD6IgUI/R4BlP4eAPz/HgD//x4A//8eAP//HgD//h4A/9IdBVIC
AgLuBQUFgiEhIQQAAAAAAAAAAAAAAAAiIiICZhgNMLIcCFT7HwJo/h4AvP4eAP//HgD//x4A//8e
AP/+HgGYAwMDuAAAAP8EBASqIiIiAgAAAAAAAAAABAQEkAAAAP8AAAD/AgIC5gQEBIjIHAVQ/h4A
2v8eAP//HgD//h4AvgQEBJQAAAD/AAAA/wUFBX4AAAAACgoKKgAAAPwAAAD/AAAA/wAAAP8AAAD/
AQEB5jUMB1D+HgC8/x4A//4eAMQEBASOAAAA/wAAAP8BAQH2DQ0NHAQEBI4AAAD/AAAA/wAAAP8A
AAD8AgICzAQEBJQGBgZmwicSDP4eAL7+HgCsAwMDpgAAAP8AAAD/AAAA/wUFBXACAgLQAAAA/wEB
AfIFBQWEoBkHTPwgAlIAAAAAAAAAAAAAAAD6IAMQ/B8CWgICAtIAAAD/AAAA/wEBAeh6FgkuBwcH
9gICAsiZFwZI/h4AvP4eAP/9HwFcAAAAAAAAAAAAAAAAAAAAABERERoAAAD8AAAA/wEBAeRaEQdK
/R4BvgsLC8baHQRS/h4A9P8eAP/+HgD2+CIGDAAAAAAAAAAAAAAAAAAAAAAFBQVuAQEB+AQEBJi+
GwVO/h4A3v4eAOCVHAwy/h4A8P8eAP//HgD//h4AvgkJCWQUFBQKAAAAAAAAAAAAAAAAEAsLRr0b
BlD+HgCo/h4A/P8eAP/+HgDC/R4Bev8eAP//HgD//x4A//0eAZADAwPCBAQEpt4iCRD9HwF4/h4A
pv4eAOT/HgD//x4A//8eAP//HgD//R4BgPwgAiz+HgD8/x4A//8eAP/9HwF4AgIC2gAAAP8EBASa
9x8Cav4eAPj/HgD//x4A//8eAP//HgD//h4A+PsgAx4AAAAA/R4Bkv8eAP//HgD//R4BfgMDA9YA
AAD/AAAA/wMDA7iwGgZK/h4AxP4eAP//HgD//x4A//0eAYAAAAAAAAAAAPghBAb+HgC6/x4A//4e
AKIDAwOsAAAA/wAAAP8AAAD/AQEB7gUFBX6fGQhO/R8Bbv4eAXT3JgsEAAAAAAAAAAAAAAAA+CIF
Bv0eAY7+HgDkFggGXgAAAP8AAAD/AAAA/wAAAP8AAAD/AQEB9goKCmIAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAA/CACKOoiByADAwOsAgIC5gICAuQCAgLEBAQEgA0NDR4AAAAAAAAAAAAAAAAA
AAAA+D8AAOAnAAD4AwAAggMAAIEBAAABgQAAD+EAACfiAABH5AAAh/AAAIGAAACIgQAAiEEAAMA/
AADkDwAA/B8AAA==" rel="icon" type="image/x-icon" />

      <title> handle Ms</title>
  </head>
  <body>
    {{{body}}}
  </body>
</html>