
<div id="fly" class="background full"></div>
<div style="position: absolute; width: 100%">
    <button id="switcher-zabbix" class="frame"
            onclick="switcher('zabbix-frame', 'switcher-zabbix', 'ZABBIX')">ZABBIX
    </button>
    <button id="switcher-spark" class="frame"
            onclick="switcher('spark-frame', 'switcher-spark', 'SPARK')">SPARK
    </button>
    <button id="switcher-rabbit" class="frame"
            onclick="switcher('rabbit-frame', 'switcher-rabbit', 'RABBITMQ')">RABBITMQ
    </button>

    <button  class="frame" style=" background: cadetblue;"
            onclick="resetToZero()">重置限制 (RESET LIMITS)
    </button>

    <button  class="frame" style="background: cadetblue;"
            onclick="reboot()">重新启动工具的服务器(RESTART TOOL's SERVER)
    </button>

    <button id="stop-music" style="float: right" class="frame enabled" onclick="stopMusic()"> &#9835; SOUNDS ON
    </button>
</div>
<iframe src="http://10.16.50.200/charts.php?fullscreen=0&groupid=30&hostid=0&graphid=12639" id="zabbix-frame"
        class="invisible" width="85%" height="85%"
        width="100%"></iframe>
<iframe id="spark-frame"
        class="invisible" width="85%" height="85%"
        width="100%"></iframe>
<iframe id="rabbit-frame"
        class="invisible" width="85%" height="85%"
        width="100%"></iframe>
</td>
<table class="demo" style="position: absolute; top: 40px; width: 99vw; table-layout: fixed; padding: 0; border: 0;">
    <tbody>
    <tr>
    <td id="inner-table" style="overflow-x: auto; max-height: 35vh;" colspan="5">
        <table style="border-collapse: collapse; min-width: 100%; table-layout: fixed;"><tbody>
            <tr id="charts"  height="250"></tr>
            <tr id="formula"></tr>
            <tr>
                <td id="toggler">
                    <div style="width: 100%; height: 15px; cursor: pointer;text-align: center; font-size:15px;"
                         onclick="toggleFormula()"><span>&#x21F3;</span></div>
                </td>
            </tr>
            <tr id="manage" style=""></tr>
        </tbody></table>
    </td>
        <td  rowspan="1" style="width: 140px; min-height: 400px" > <div id="redis" ></div> </td>
    </tr>
    <tr>
        <td id="fsLoading" colspan="2" style="white-space: pre; border-right: 0"></td>
        <td id="fsStates" colspan="4" style="white-space: pre; border-left: 0"></td>
    </tr>
    <tr>
        <td id="sparkState" colspan="6" style="">
             <span style="white-space: nowrap"> SPARK STATE: <div id="spark-state" class="spark-indicator"></div>
                 <span id="spark-state-description" style="white-space: pre"></span>
                 <span style="float: right;"><button
                         style="background: red; color: white; font-size: inherit;">重新开始 restart</button></span>
                <div id="spark-logs" style="white-space: pre"></div>
             </span>
        </td>
    </tr>
    <tr>
        <td id="fs-engine" colspan="6" style="display: inline-flex; justify-content: space-between"></td>
    </tr>
    </tbody>
</table>
<audio id="player" src="beep-07.wav" autoplay="false"></audio>

<style>
    canvas[id^="chart"] {
        max-height: 327px!important;
        max-width: 327px!important;
    }

    .error {
        border: 2px solid red;
    }

    iframe {
        position: absolute;
        z-index: 110;
        top: 45px;
        box-shadow: 7px 7px 20px 2px rgba(0, 0, 0, 0.3);
        left: 100px;
        border: 2px solid black;
        background: white;
    }

    tr#formula td {
        min-width: 220px;
        font-weight: 800;
        text-align: left;
        min-height: 40px;
    }

    tr#formula td div {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    tr#formula td div span{
        text-align: left;
        width: 50%;
    }

    tr#formula.toggled-formula td {
        display: none;
    }

    tr#charts td {
        min-width: 230px;
        max-width: 400px;
    }

    button[data="true"].frame {
        background: white;
        color: blue;
    }

    button.frame {
        background: red;
        color: white;
        z-index: 2;
        padding: 10px 32px;
    }

    td {
        padding: 5px;
        border: 1px solid gray;
        position: relative;
    }

    @media only screen and (min-width: 1200px) {

    }

    .invisible {
        display: none !important;
    }

    .enabled {
        background: green !important;
    }

    span.paused {
        position: absolute;
        color: red;
        border-radius: 7px;
        border: 1px solid red;
        text-align: center;
        font-style: oblique;
        /*  transform: rotate(-45deg);*/
        z-index: 100;
        font-size: xx-large;
        display: block;
        bottom: 50px;
        background: white;
        box-shadow: 1px 5px 51px 20px rgba(255, 0, 0, 0.2), inset 1px 2px 7px 6px rgba(255, 0, 0, 0.2);
        opacity: 0.75;
    }

    .redis-value {
        display: flex;
        justify-content: space-between;
        padding-bottom: 5px;
    }

    .redis-value.important {
        font-weight: 800
    }

    .spark-indicator {
        display: inline-block;
        min-width: 30px;
        height: 16px;
        border: 1px solid black;
        color: white;
        font-size: 16px;
        text-align: center;
    }

    body {
        margin: 0;
        font-family: serif;
        overflow-x: hidden;
    }

    .background {
        width: 100%;
        height: 100%;
        position: absolute;
        background: url("background.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        opacity: 0.1;
        transition: opacity 1.2s linear;
    }

    .background.full {
        opacity: 1;
    }

    .engine-fine {
        height: 85px;
        margin: 0 30px;
    }

    .red-flash {
        animation-name: red-flash;
    }

    .yellow-flash {
        animation-name: yellow-flash;
    }

    .green-flash {
        animation-name: green-flash;
    }

    .red-flash, .yellow-flash, .green-flash {

        animation-duration: 0.5s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        animation-play-state: running;
    }

    @keyframes red-flash {
        from {
            background: red;
            color: white
        }
        to {
            background: white;
            color: red;
        }
    }

    @keyframes green-flash {
        from {
            background: green;
            color: white
        }
        to {
            background: limegreen;
            color: white;
        }
    }

    @keyframes yellow-flash {
        from {
            background: yellow;
            color: white
        }
        to {
            background: white;
            color: black;
        }
    }


</style>
<script>
    var player = document.getElementById("player");
    var playerStop = false;
    var engineErrorPlay = [];
    document.getElementById("spark-frame").src = location.protocol + '//' + location.hostname + ':4040';
    document.getElementById("rabbit-frame").src = location.protocol + '//' + location.hostname + ':15672';
    player.autoplay = false;
    var currentValues = [];
    let parking;
    let notWorkingCounts = [];
    let sparkErrorTime = 0;

    let MELODIES = {
        BEEP: 'beep-07.wav',
        UKA_CHAKA: 'uka-chaka.mp3',
        SPARK_CRASH: 'spark_crash.mp3',
        FS_DOWN: 'FS_down.mp3'
    };

    function switcher(id, button_id, name) {
        if (document.getElementById(button_id).getAttribute('data') == 'true') {
            document.getElementById(id).classList.add('invisible');
            document.getElementById(button_id).innerHTML = name;
            document.getElementById(button_id).setAttribute('data', false);
        } else {
            document.getElementById(id).classList.remove('invisible');
            document.getElementById(button_id).innerHTML = 'MBOARD';
            document.getElementById(button_id).setAttribute('data', true);
        }
    }

    function toggleFormula() {
        if (document.getElementById('toggler').getAttribute('data') == 'true') {
            document.getElementById('formula').classList.remove('toggled-formula');
            document.getElementById('toggler').setAttribute('data', false);
        } else {
            document.getElementById('formula').classList.add('toggled-formula');
            document.getElementById('toggler').setAttribute('data', true);
        }
    }

    function stopMusic() {
        playerStop = playerStop ? false : true;
        if (playerStop) {
            player.pause();
            player.loop = false;
            document.getElementById("stop-music").classList.remove('enabled');
            document.getElementById("stop-music").innerHTML = 'SOUNDS OFF';
        } else {
            document.getElementById("stop-music").classList.add('enabled');
            document.getElementById("stop-music").innerHTML = '&#9835; SOUNDS ON';
        }

    }
    var charts = [];
    var fsLoading = [];
    var fsStates = [];
    var fsEngines = [];

    window.setInterval(function () {
        getData();
    }, 2400);
    window.setInterval(function () {
        getFSData();
    }, 1400);
    window.setInterval(function () {
        getFormulaData();
    }, 3400);
    window.setInterval(function () {
        getSparkData();
    }, 3400);
    window.setInterval(function () {
        getRedisData();
    }, 800);
    window.setInterval(function () {
        getParametersData();
    }, 5000);
    window.setInterval(function () {
        getSparkAlive();
    }, 45 * 1000);
    window.setTimeout(function () {
        getParametersData(true);
    }, 1500);
    window.setTimeout(function () {
        document.getElementById('fly').classList.remove('full');
    }, 2500);

    function getParametersData(isUpdateEditFields) {
        var http = new XMLHttpRequest();
        var url = 'getSQLData';
        http.open("GET", url, true);

        http.onreadystatechange = function () { //Call a function when the state changes.
            if (http.readyState == 4) {
                let result = null;
                try {
                    result = JSON.parse(http.responseText);
                } catch (err) {
                    return;
                }

                result.forEach(function (item, index) {
                    document.getElementById(`maxLimit${index}`).value = item.maxLimitOfCalls;
                    document.getElementById(`parameter${index}`).value = item.predictiveDialerCorrectionFactor;

                    if (isUpdateEditFields) {
                        document.getElementById(`maxLim${index}`).value = item.maxLimitOfCalls;
                        document.getElementById(`param${index}`).value = item.predictiveDialerCorrectionFactor;
                    }
                    currentValues[index] = item.maxLimitOfCalls;

                    if (item.isWorking) {
                        notWorkingCounts[index] = 0;
                        document.getElementById('paused' + index).classList.add('invisible');
                    } else if (notWorkingCounts[index] > 10) {
                        document.getElementById('paused' + index).classList.remove('invisible');
                    } else {
                        notWorkingCounts[index] += 1;
                        if (notWorkingCounts[index] > 15) notWorkingCounts[index] = 15;
                    }
                });
            }
        };
        http.send();
    }

    function getData() {
        var http = new XMLHttpRequest();
        var url = "getData";
        let additionalSymbols = '';
        http.open("GET", url, true);

        http.onreadystatechange = function () { //Call a function when the state changes.
            if (http.readyState == 4) {
                let skillsets = null;
                try {
                    skillsets = JSON.parse(http.responseText);
                } catch (err) {
                    return;
                }

                charts.forEach(function (chart, index) {
                    chart.data.datasets[0].data = [];
                    chart.data.labels = [];
                    if (!skillsets[index]) return;

                    if (skillsets[index].onCalls === 0 &&
                            skillsets[index].acw === 0 &&
                            skillsets[index].ready === 0 &&
                            skillsets[index].notReady === 0) {
                        skillsets[index].onCalls =
                                skillsets[index].acw =
                                        skillsets[index].ready =
                                                skillsets[index].notReady = 1;
                        chart.data.datasets[0].data.push(skillsets[index].onCalls || 0.0);
                        chart.data.datasets[0].data.push(skillsets[index].acw || 0.0);
                        chart.data.datasets[0].data.push(skillsets[index].ready || 0.0);
                        chart.data.datasets[0].data.push(skillsets[index].notReady || 0.0);
                        chart.data.labels.push('On Calls         0      0.00%' + additionalSymbols);
                        chart.data.labels.push('ACW              0      0.00%' + additionalSymbols);
                        chart.data.labels.push('Ready            0      0.00%' + additionalSymbols);
                        chart.data.labels.push('Not Ready         0      0.00%' + additionalSymbols);

                    } else {

                        chart.data.datasets[0].data.push(skillsets[index].onCalls || 0.0);
                        chart.data.datasets[0].data.push(skillsets[index].acw || 0.0);
                        chart.data.datasets[0].data.push(skillsets[index].ready || 0.0);
                        chart.data.datasets[0].data.push(skillsets[index].notReady || 0.0);
                        chart.data.labels.push("On Calls  " + skillsets[index].onCalls + '       ' + Math.round(skillsets[index].onCalls / (skillsets[index].totalConnect - skillsets[index].notReady) * 100).toFixed(2) + '%');
                        chart.data.labels.push("ACW       " + skillsets[index].acw + '       ' + Math.round(skillsets[index].acw / skillsets[index].totalConnect * 100).toFixed(2) + '%');
                        chart.data.labels.push("Ready   " + skillsets[index].ready + '       ' + Math.round(skillsets[index].ready / skillsets[index].totalConnect * 100).toFixed(2) + '%');
                        chart.data.labels.push("Not Ready " + skillsets[index].notReady + '       ' + Math.round(skillsets[index].notReady / skillsets[index].totalConnect * 100).toFixed(2) + '%');

                    }
                    chart.options.title.text = skillsets[index].name + " ( " + skillsets[index].totalConnect + " ) ";
                    chart.update();

                });
            }
        };
        http.send();
    }

    function getSparkData() {
        var http = new XMLHttpRequest();
        var url = "getSparkData";
        http.open("GET", url, true);

        http.onreadystatechange = function () { //Call a function when the state changes.
            if (http.readyState == 4) {
                let result = null;
                try {
                    result = JSON.parse(http.responseText);
                } catch (err) {
                    return;
                }

                let someTxt = '';
                if (result) {
                    if (!document.getElementById("spark-state").classList.contains('red-flash')) {
                        document.getElementById("spark-state").classList.add('yellow-flash');
                    }
                    document.getElementById("spark-logs").innerHTML = result;
                } else if (!document.getElementById("spark-state").classList.contains('red-flash')) {
                    document.getElementById("spark-state").classList.remove('yellow-flash');
                    document.getElementById("spark-state").classList.add('green-flash');
                    document.getElementById("spark-state-description").innerHTML = '<span style="color: green">No exceptions found </span>';
                }
            }
        };
        http.send();
    }

    function getSparkAlive() {
        var http = new XMLHttpRequest();
        var url = 'isSparkAlive?sparkHost=' + encodeURIComponent(location.protocol + '//' + location.hostname + ':4040/jobs');
        http.open("GET", url, true);

        http.onreadystatechange = function () { //Call a function when the state changes.
            if (http.readyState == 4) {

                let result = null;
                try {
                    result = JSON.parse(http.responseText);
                } catch (err) {
                    return;
                }

                if (result == 'false') {
                    sparkErrorTime = sparkErrorTime ? sparkErrorTime : new Date().toLocaleTimeString("en-us", {
                        hour: "2-digit",
                        minute: "2-digit"
                    });
                    document.getElementById("spark-state").classList.remove('yellow-flash');
                    document.getElementById("spark-state").classList.remove('green-flash');
                    document.getElementById("spark-state").classList.add('red-flash');
                    document.getElementById("spark-state").innerHTML = `${sparkErrorTime}`;
                    document.getElementById("spark-state-description").innerHTML = '<span style="color: red; font-weight: 800">NO CONNECTION TO SPARK!!!!    Possibly need to restart it!  没有连接到SPARK！ 可能需要重新启动它！</span>';
                    if (player.paused && !playerStop) {
                        player.src = MELODIES.SPARK_CRASH;
                        player.play();
                        player.loop = true;
                    }
                }
                else {
                    if (!document.getElementById("spark-state").classList.contains('yellow-flash')) {
                        document.getElementById("spark-state").classList.add('green-flash');
                    }
                    player.loop = false;
                    sparkErrorTime = 0;
                }
            }
        };
        http.send();
    }

    function getFormulaData() {
        var http = new XMLHttpRequest();
        var url = "getFormulaData";
        http.open("GET", url, true);

        let FA = 0;
        let NC = 0;
        let SR = 0;
        let AC = 0;
        let TR = 0;
        let TC = 0;
        let AP = 0;
        let MAP =  0;
        let MLC =  0;
        let UR = 0;
        let final = 0, formulaResult = 0;

        http.onreadystatechange = function () { //Call a function when the state changes.
            if (http.readyState == 4) {
                let result = null;
                try {
                    result = JSON.parse(http.responseText);
                } catch (err) {
                    return;
                }
                if (result.formulas.length) {
                    console.log('-------------------------------------------');
                    let someTxt = '';
                    result.formulas.forEach(function (formula, index) {
                        let firstParse = formula.split(':')[3].split('formula result');
                        let result = firstParse[1], anotherParams = firstParse[0].split(';');

                        FA = +firstParse[0].match(/FA=([0-9.]*)/)[1];
                        NC = +firstParse[0].match(/NC=([0-9.]*)/)[1];
                        SR = +firstParse[0].match(/SR=([0-9.]*)/)[1];
                        AC = +firstParse[0].match(/AC=([0-9.]*)/)[1];
                        TR = +firstParse[0].match(/TR=([0-9.]*)/)[1];
                        TC = +firstParse[0].match(/TC=([0-9.]*)/)[1];
                        AP = +firstParse[0].match(/AP=([0-9.]*)/)[1];
                        MAP = +firstParse[0].match(/MAP=([0-9.]*)/)[1];
                        MLC = +firstParse[0].match(/MLC=([0-9.]*)/)[1];
                        UR = +firstParse[0].match(/UR=([0-9.]*)/)[1];
                        final = +result.match(/final result=([0-9.]*)/)[1];
                        formulaResult = +formula.split(':')[3].match(/formula result=([0-9.]*)/)[1];


                        let probability = 0.0;
                        if (TC) {
                            probability = 1.0 - Math.exp(-TR / TC);
                        }
                        let numerator = (FA - NC * (SR || 1) * UR  + AC * probability + AP) * MAP;
                        let denominator = (SR || 1);
                        let rrrr = numerator / denominator;

                        console.log(`First formula result for ${skillsets[index].name}: ` + rrrr);
                        rrrr = rrrr < 1.0 ? 0 : Math.round(rrrr);
                        console.log(`End Formula result for ${skillsets[index].name}: ` + rrrr);

                        someTxt += `<td><div><span>formula = ${formulaResult}</span><span>final = ${final}</span></div>
                                    <div><span>FA = ${FA.toFixed(2)}</span><span>NC = ${NC.toFixed(2)}</span></div>
                                    <div><span>SR = ${SR.toFixed(2)}</span><span>AC = ${AC.toFixed(2)}</span></div>
                                    <div><span>TR = ${TR.toFixed(2)}</span><span>TC = ${TC.toFixed(2)}</span></div>
                                    <div><span>AP = ${AP.toFixed(2)}</span><span>UR = ${UR.toFixed(2)}</span></div>
                                    <div><span>MLC = ${MLC.toFixed(2)}</span><span>MAP =  ${MAP.toFixed(2)}</span></div>
                                    </td>`;
                    });
                    document.getElementById("formula").innerHTML = someTxt;
                }
            }
        };
        http.send();
    }

    function getFSData() {
        var http = new XMLHttpRequest();
        var url = "getFSData";
        http.open("GET", url, true);

        http.onreadystatechange = function () { //Call a function when the state changes.
            if (http.readyState == 4) {
                let result = null;
                try {
                    result = JSON.parse(http.responseText);
                } catch (err) {
                    return;
                }
                let states = result.states;
                let loading = result.loading;

                loading.forEach(function (item, index, array) {
                    if (item) {
                        let fsLoad = item.split('\n');
                        fsLoad.forEach(function (oneLoad) {
                            if (oneLoad) {
                                let txt = oneLoad.split('Received FS')[1];

                                let value = txt.split('channels load : ')[1],
                                        loading = parseInt(value.split(' with limit ')[0]),
                                        max = parseInt(value.split(' with limit ')[1]);

                                if (max - loading < 200) {
                                    txt = '<span <span class="yellow-flash" style="font-weight: 800;">' + txt + '</span>'
                                }

                                fsLoading[index] = txt;
                            }
                        });
                    }

                    if (!fsLoading[index]) {
                        document.getElementById('engine' + index) ? document.getElementById('engine' + index).src = '' : 0;
                        states[index] = {state: true, value: 'Turned off'};
                    }
                    if (states[index].state) {
                        let res = states[index].value.split('\n');
                        if (res.length > 15) {
                            if (player.paused && !playerStop && fsLoading[index]) {
                                player.src = MELODIES.FS_DOWN;
                                player.play();
                            }
                            document.getElementById('engine' + index) ? document.getElementById('engine' + index).src = 'engine-down.gif' : 0;
                        } else (
                            res.forEach(function (item, ind, array) {
                                if (item.indexOf('switch_loadable_module.c:1522 Error Loading module /usr/local/freeswitch/mod/mod_xml_curl.so') !== -1) {
                                    array[0] = '<span style="background: yellow">没有活动 NO ACTIVITY</span>';
                                    document.getElementById('engine' + index) ? document.getElementById('engine' + index).src = 'engine-down.gif' : 0;
                                } else if (item.indexOf('switch_loadable_module.c:1522 Error Loading module /usr/local/freeswitch/mod/mod_opus.so') !== -1) {
                                    array[0] = '<span style="background: yellow">没有活动 NO ACTIVITY</span>';
                                    document.getElementById('engine' + index) ? document.getElementById('engine' + index).src = 'engine-down.gif' : 0;
                                } else if (item.indexOf('switch_loadable_module.c:1522 Error Loading module /usr/local/freeswitch/mod/mod_fifo.so') !== -1) {
                                    array[0] = '<span style="background: yellow">没有活动 NO ACTIVITY</span>';
                                    document.getElementById('engine' + index) ? document.getElementById('engine' + index).src = 'engine-down.gif' : 0;
                                }
                                else if (item.indexOf('[CRIT]') !== -1) {
                                    array[0] = `<span style="color: red">${item}</span>`;
                                    document.getElementById('engine' + index) ? document.getElementById('engine' + index).src = 'engine-down.gif' : 0;
                                    if (player.paused && !playerStop && fsLoading[index]) {
                                        player.src = MELODIES.FS_DOWN;
                                        player.play();
                                    }
                                }
                            })
                        )

                        txt = `<span style="white-space: nowrap">
                            <div class="red-flash" style="display: inline-block; width: 30px; height: 10px;  border: 1px solid black;
                            color: white; font-size: 9px; text-align: center;" >FS${index + 1}
                        </div> ${res[0]}
                         <button onclick="stopCallManager(${index})" style="float: right; background: red; height: 18px; font-size: 12px; line-height: 12px;">停止 stop CM</button></span>`;
                    } else {
                        txt = `<span style="white-space: nowrap">
                                <div class="green-flash" style="display: inline-block; width: 30px; height: 10px; border: 1px solid black;
                                color: white; font-size: 10px; text-align: center;" >FS${index + 1}</div>
                        引擎工作正常 Engine works fine <button onclick="stopCallManager(${index})" style="float: right; background: red;  color: white; height: 18px;  font-size: 12px; line-height: 12px;" >停止 stop CM</button></span>`;
                        document.getElementById('engine' + index) ? document.getElementById('engine' + index).src = 'engine-work.gif' : 0;
                    }

                    fsStates[index] = txt;

                    if (!fsEngines[index]) {
                        fsEngines[index] = `<div><img src="engine-work.gif" alt="NO ACTIVITY" id="engine${index}" class="engine-fine"></div>`
                    }
                });

                document.getElementById("fsLoading").innerHTML = fsLoading.join('\n');
                document.getElementById("fsStates").innerHTML = fsStates.join('\n');

                if (fsStates.length == fsEngines.length) {
                    fsEngines.forEach(function (state) {
                        document.getElementById('fs-engine').innerHTML += state;
                    });
                    fsEngines.push('');
                }
            }
        };
        http.send();
    }

    function getRedisData() {
        var http = new XMLHttpRequest();
        var url = "getRedisData";
        http.open("GET", url, true);

        http.onreadystatechange = function () { //Call a function when the state changes.
            if (http.readyState == 4) {
                let result = null, redisValues = {}, redis = '', parsed;

                try {
                    result = JSON.parse(http.responseText);
                } catch (err) {
                    return;
                }
                if (result !== '') {
                    result.split('\n').forEach(function (data, index) {
                        if (data.indexOf('Parking') !== -1) {
                            parsed = data.split(' ');
                            let count = parsed.pop();
                            redisValues.parking = +count;
                            if (count && +count > 30) {
                                redis += '<span style="display: flex; justify-content: space-between;  color: white;background: darkmagenta; padding-bottom: 5px; font-weight: 800;"><span>' + parsed[0] + '</span><span>' + +count + '</span></span>';
                                return;
                            }
                            if (count && +count > 15) {
                                redis += '<span class="yellow-flash" style="display: flex; justify-content: space-between;  color: darkmagenta; padding-bottom: 5px; font-weight: 800;"><span>' + parsed[0] + '</span><span>' + +count + '</span></span>';
                                return;
                            }
                            redis += '<span class=" important redis-value"><span>' + parsed[0] + '</span><span >' + +count + '</span></span>';
                            return;
                        }
                        if (data.indexOf('Error') !== -1) {
                            parsed = data.split(' ');
                            let count = parsed.pop();
                            redisValues.error = +count;
                            if (count && +count > 25) {
                                redis += '<span style="display: flex; justify-content: space-between;  color: white;background: darkmagenta; padding-bottom: 5px; font-weight: 800;"><span>' + parsed[0] + '</span><span>' + +count + '</span></span>';
                                return;
                            }
                            if (count && +count > 15) {
                                redis += '<span <span class="yellow-flash" style="display: flex; justify-content: space-between;  color: darkmagenta; padding-bottom: 5px; font-weight: 800;"><span>' + parsed[0] + '</span><span>' + +count + '</span></span>';
                                return;
                            }
                            redis += '<span class=" important redis-value"><span>' + parsed[0] + '</span><span>' + +count + '</span></span>';
                            return;
                        }
                        if (data.indexOf('MovingOff') !== -1) {
                            parsed = data.split(' ');
                            let count = parsed.pop();
                            redisValues.movingOff = +count;
                            if (count && +count > 15) {
                                redis += '<span style="display: flex; justify-content: space-between;  color: white;background: darkmagenta; padding-bottom: 5px; font-weight: 800;"><span>' + parsed[0] + '</span><span>' + +count + '</span></span>';
                                return;
                            }
                            if (count && +count > 7) {
                                redis += '<span <span class="yellow-flash" style="display: flex; justify-content: space-between;  color: darkmagenta; padding-bottom: 5px; font-weight: 800;"><span>' + parsed[0] + '</span><span>' + +count + '</span></span>';
                                return;
                            }
                            redis += '<span class=" important redis-value"><span>' + parsed[0] + '</span><span>' + +count + '</span></span>';
                            return;
                        }
                        parsed = data.split('  ');
                        let count = parsed.pop();
                        if (parsed.length > 1) redis += '<span class="redis-value"><span>' + parsed[0] + '</span><span>' + +count + '</span></span>';
                        else redis += '<span style="display: flex; justify-content: space-between; padding-bottom: 5px;">' + data + '</span>';
                    });

                    parking = redisValues.parking;

                    if (parking > 35) {
                        if (player.paused && !playerStop) {
                            player.src = MELODIES.UKA_CHAKA;
                            player.play();
                        }
                    } else if (parking > 22) {
                        if (player.paused && !playerStop) {
                            player.src = MELODIES.BEEP;
                            player.play();
                        }
                    }

                    if (redisValues.error > 25 || redisValues.movingOff > 30) {
                        if (player.paused && !playerStop) {
                            player.src = MELODIES.UKA_CHAKA;
                            player.play();
                        }
                    }
                    if (redisValues.error > 15 || redisValues.movingOff > 20) {
                        if (player.paused && !playerStop) {
                            player.src = MELODIES.BEEP;
                            player.play();
                        }
                    }

                    document.getElementById("redis").innerHTML = redis;
                }
            }
        };
        http.send();
    }

    function saveparams(skillname, index) {
        let result = null;
        var mlc = document.getElementById(`maxLim${index}`).value;
        var param = document.getElementById(`param${index}`).value;

        var http = new XMLHttpRequest();
        var url = "updateDataBase" + `?mlc=${mlc}&param=${param}&skillname=${skillname}`;
        http.open("POST", url, true);

        //Send the proper header information along with the request
        http.setRequestHeader("Content-type", "application/json");

        http.onreadystatechange = function () {//Call a function when the state changes.
            if (http.readyState == 4) {
                try {
                    result = JSON.parse(http.responseText);
                } catch (err) {
                    result = http.responseText;
                }
                window.setTimeout(function () {
                    document.getElementById(`manage-result${index}`).innerHTML = '';
                }, 2000);
                document.getElementById(`manage-result${index}`).innerHTML = result;
            }
        };
        http.send();
    }

    function decrease20(skillname, index) {
        let result = null;
        var mlc = parseInt(document.getElementById(`maxLimit${index}`).value * 0.8);
        var param = document.getElementById(`parameter${index}`).value;

        var http = new XMLHttpRequest();
        var url = "updateDataBase" + `?mlc=${mlc}&param=${param}&skillname=${skillname}`;
        http.open("POST", url, true);

        //Send the proper header information along with the request
        http.setRequestHeader("Content-type", "application/json");

        http.onreadystatechange = function () {//Call a function when the state changes.
            if (http.readyState == 4) {
                try {
                    result = JSON.parse(http.responseText);
                } catch (err) {
                    result = http.responseText;
                }
                window.setTimeout(function () {
                    document.getElementById(`manage-result${index}`).innerHTML = '';
                }, 2000);
                document.getElementById(`manage-result${index}`).innerHTML = result;
                document.getElementById(`maxLim${index}`).value = mlc;
            }
        };
        http.send();
    }

    function increase5(skillname, index) {
        let result = null;
        var mlc_add = parseInt(document.getElementById(`maxLimit${index}`).value * 0.05);
        var mlc = parseInt(document.getElementById(`maxLimit${index}`).value) + mlc_add;
        var param = document.getElementById(`parameter${index}`).value;

        var http = new XMLHttpRequest();
        var url = "updateDataBase" + `?mlc=${mlc}&param=${param}&skillname=${skillname}`;
        http.open("POST", url, true);

        //Send the proper header information along with the request
        http.setRequestHeader("Content-type", "application/json");

        http.onreadystatechange = function () {//Call a function when the state changes.
            if (http.readyState == 4) {
                try {
                    result = JSON.parse(http.responseText);
                } catch (err) {
                    result = http.responseText;
                }
                window.setTimeout(function () {
                    document.getElementById(`manage-result${index}`).innerHTML = '';
                }, 2000);
                document.getElementById(`manage-result${index}`).innerHTML = result;
                document.getElementById(`maxLim${index}`).value = mlc;
            }
        };
        http.send();
    }

    function resetToZero() {
        var http = new XMLHttpRequest();
        var url = "resetToZero";
        http.open("POST", url, true);

        //Send the proper header information along with the request
        http.setRequestHeader("Content-type", "application/json");

        http.onreadystatechange = function () {//Call a function when the state changes.
            if (http.readyState == 4) {
                try {
                    result = JSON.parse(http.responseText);
                } catch (err) {
                    result = http.responseText;
                }

                skillsets.forEach(function (chart, index) {
                    window.setTimeout(function () {
                        document.getElementById(`manage-result${index}`).innerHTML = '';
                    }, 2000);
                    document.getElementById(`manage-result${index}`).innerHTML = result;
                    document.getElementById(`maxLim${index}`).value = 0;
                    document.getElementById(`maxLimit${index}`).value = 0;
                });
            }
        };
        http.send();
    }

    function reboot() {
        var http = new XMLHttpRequest();
        var url = "restartServer";
        http.open("POST", url, true);

        http.setRequestHeader("Content-type", "application/json");
        http.send();
    }

    function stopCallManager(serverNumber) {
        if(confirm(`\n\n\nDo you really want to STOP CallManager ${serverNumber + 1} ? \n\n\n 你真的想要停止CallManager ${serverNumber + 1} ？\n\n\n`)) {
            var http = new XMLHttpRequest();
            var url = "stopCM?number=" + serverNumber;
            http.open("POST", url, true);

            http.setRequestHeader("Content-type", "application/json");
            http.onreadystatechange = function () {
                if (http.readyState == 4) {
                    try {
                        result = JSON.parse(http.responseText);
                    } catch (err) {
                        result = http.responseText;
                    }
                }
            };
            http.send();
        }
    }

    function restartSpark() {
        if(confirm(`\n\n\nDo you really want to RESTART  SPARK ? \n\n\n 你真的想重新启动SPARK ？\n\n\n`)) {
            var http = new XMLHttpRequest();
            var url = "restartSpark";
            http.open("POST", url, true);

            http.setRequestHeader("Content-type", "application/json");
            http.onreadystatechange = function () {
                if (http.readyState == 4) {
                    try {
                        result = JSON.parse(http.responseText);
                    } catch (err) {
                        result = http.responseText;
                    }
                }
            };
            http.send();
        }
    }

    function createChart(ctx, onCalls, acw, ready, notReady, totalConnect, name) {
        return new Chart(ctx, {
            type: 'doughnut', //  'pie', //  'doughnut', //
            data: {
                labels: ["On Calls  " + onCalls + '       ' + Math.round(onCalls / totalConnect * 100).toFixed(2) + '%',
                    "ACW       " + acw + '       ' + Math.round(acw / totalConnect * 100).toFixed(2) + '%',
                    "Ready   " + ready + '       ' + Math.round(ready / totalConnect * 100).toFixed(2) + '%',
                    "Not Ready " + notReady + '       ' + Math.round(notReady / totalConnect * 100).toFixed(2) + '%'
                ],
                datasets: [{
                    label: '# of Votes',
                    data: [onCalls || 0.0, acw || 0.0, ready || 0.0, notReady || 0.0],
                    backgroundColor: [
                        'rgb(0, 0, 255)',
                        'rgb(56,118,29)',
                        'rgb(157,119,170)',
                        'rgb(255, 0, 0)'
                    ],
                    borderWidth: 0
                }]
            },
            options: {
                title: {
                    display: true,
                    text: name + '(' + totalConnect + ')',
                    fontColor: 'black'
                },
                tooltips: {
                    intersect: false,
                    mode: 'nearest'
                },
                legend: {
                    labels: {
                        fontColor: 'black'
                    },
                    fullWidth: false,
                    position: 'top'
                },
                layout: {
                    padding: {
                        left: 0,
                        right: 0,
                        top: 0,
                        bottom: 0
                    }
                }
            }
        });
    }

    let chartsTxt = '', manageTxt = '', someTxt = '{{skillsets}}'.replace(new RegExp('&quot;', 'g'), '"');
    let skillsets = JSON.parse(someTxt);

    skillsets.forEach(function (chart, index) {
        console.log(chart);
        chartsTxt += '<td><div id="chartjs-legend" class="noselect"></div> <canvas id="chart' + index + '" width="180" height="180">' +
                '</canvas><span id="paused' + index + '" class="paused invisible">possible PAUSED</span></td>';
        manageTxt += `<td><div>
                                  <div style="padding-top: 3px"> 最大限度 <input id="maxLim${index}"style="width: 50px;" value="${chart.mlc}">&nbsp;&nbsp;<input id="maxLimit${index}"style="width: 50px;" disabled value="${chart.mlc}"></div>
                                   <div style="padding-top: 3px"> 因素 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input id="param${index}" style="width: 50px;" value="${chart.param}">&nbsp;&nbsp;<input id="parameter${index}" style="width: 50px;" disabled value="${chart.param}"</div>

                                   <div style="padding-top: 3px">
                                   <button onclick="saveparams('${chart.name}', '${index}')" style="padding: 5px 10px">保存</button>
                                   <button id="btn-decrease" onclick="decrease20('${chart.name}', '${index}')" style="padding: 5px 10px; background: red; color: white;"> &#8659; 20%</button>
                                   <button id="btn-increase" onclick="increase5('${chart.name}', '${index}')" style="padding: 5px 10px; background: green; color: white;">&#8657; 5%</button>
                                   <span style="float: right;" id="manage-result${index}"></span>
                                   </div>
                           </div>`;
        notWorkingCounts[index] = 0;
    });

    document.getElementById("charts").innerHTML = chartsTxt;
    document.getElementById("manage").innerHTML = manageTxt;
    document.getElementById("toggler").setAttribute('colspan', skillsets.length);
    window.setTimeout(function () {

        skillsets.forEach(function (chartSkillset, index) {
            charts[index] = createChart(document.getElementById('chart' + index).getContext('2d'), chartSkillset.onCalls, chartSkillset.acw, chartSkillset.ready, chartSkillset.notReady, chartSkillset.totalConnect, chartSkillset.name);
        })
    }, 1000);

    (function() {
        function scrollHorizontally(e) {
            e = window.event || e;
            var delta = Math.max(-1, Math.min(1, (e.wheelDelta || -e.detail)));
            document.getElementById('inner-table').scrollLeft -= (delta*40); // Multiplied by 40
            e.preventDefault();
        }
        if (document.getElementById('inner-table').addEventListener) {
            // IE9, Chrome, Safari, Opera
            document.getElementById('inner-table').addEventListener("mousewheel", scrollHorizontally, false);
            // Firefox
            document.getElementById('inner-table').addEventListener("DOMMouseScroll", scrollHorizontally, false);
        } else {
            // IE 6/7/8
            document.getElementById('inner-table').attachEvent("onmousewheel", scrollHorizontally);
        }
    })();

</script>

</html>